.contact {
  padding: 20px;
  margin: 50px 0;
  width: 400px;
  left: 50%;
  position: relative;
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 5px -5px;
  justify-content: center;
  line-height: 60px;
  transform: translate(-50%, 0);
}

.contact form input {
  width: 310px;
  height: 26px;
  display: flex;
  margin-top: 15px;
  padding: 6px 15px;
  outline: none;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  color: #333;
  font-size: 12px;
  font-family: "Montserrat", arial, helvetica;
  transition: 200ms;
}
.contact form input:focus {
  border-color: #61c94688;
}
.contact form input.error-input {
  border-color: #ff0000aa;
}
.error-msg {
  height: 25px;
  display: flex;
  position: relative;
}
.contact form p {
  float: left;
  margin: 0 0 10px 0;
  color: red;
  line-height: 25px;
  font-size: 11px;
  font-family: "Montserrat", arial, helvetica;
}

.contact form button {
  margin-top: 20px;
  padding: 6px 15px;
  width: 180px;
  height: 40px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #61c946;
  background-color: #61c946;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", arial, helvetica;
  transition: 200ms;
}
.contact form button:hover {
  color: #61c946;
  background-color: transparent;
}
